@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.result-item-container {

    list-style-type: none;
    margin-top: 0px;
    padding: 2px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #c3ced6;
    border: inset 2px;
  
  }

  .form-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }
  
  .searchBtn {
    min-width: 150px;
    margin-bottom: 12px;
    border: outset 2px;
    border-radius: 8px;
  }
  
  .searchBtn:hover {
    background-color:  #c3ced6 ;
  }
  
  
  .input-field {
    width: 70%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1.5px outset white;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .page-load.loader-jump {
    display: block;
    position: fixed;
    margin: auto;
    margin-top: 9rem;
    inset: 0;
  
    width: 50px;
    text-align: center;
  }
  
  .loader-jump,
  .loader-jump * {
    box-sizing: border-box;
  }
  
  .loader-jump span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: rgb(249, 251, 251);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
  }
  
  .loader-jump span:nth-child(1) {
    animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .loader-jump span:nth-child(2) {
    animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .loader-jump span:nth-child(3) {
    animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .loader-jump span:nth-child(4) {
    animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .loader-jump span:nth-child(5) {
    animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  @keyframes scale {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(0.9, 0.9);
      background: rgb(51, 206, 74);
    }
  
    50% {
      transform: scale(1, 1);
      margin: 0 3px;
      background: rgba(202, 23, 23, 0.717);
    }
  
    100% {
      transform: scale(0);
    }
  }